name: genai-engine-dev
services:
  db:
    image: postgres:18
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: changeme_pg_password
      POSTGRES_DB: arthur_genai_engine
    volumes:
      - /var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: ./dockerfile
    ports:
      - "3030:3030"
    environment:
      - POSTGRES_URL=db
      - POSTGRES_PORT=5432
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=changeme_pg_password
      - POSTGRES_DB=arthur_genai_engine
      - POSTGRES_USE_SSL=false
      - GENAI_ENGINE_ENABLE_PERSISTENCE=enabled
      - GENAI_ENGINE_ENVIRONMENT=local
      - GENAI_ENGINE_ADMIN_KEY=changeme123
      - GENAI_ENGINE_INGRESS_URI=http://localhost:8000
      - GENAI_ENGINE_OPENAI_PROVIDER=Azure
      - OPENAI_API_VERSION=2023-07-01-preview
      - GENAI_ENGINE_OPENAI_GPT_NAMES_ENDPOINTS_KEYS=model_name::https://my_service.openai.azure.com/::my_api_key
      - ALLOW_ADMIN_KEY_GENERAL_ACCESS=enabled
    depends_on:
      db:
        condition: service_healthy
  changelog-generator:
    build:
      context: .
      dockerfile: Dockerfile_changelog
    volumes:
      # Mount changelog output files to local machine
      - ./staging.openapi.json:/app/genai-engine/staging.openapi.json
      - ./src/api_changelog.md:/app/genai-engine/src/api_changelog.md
      - ./src:/app/genai-engine/src
    profiles:
      - changelog
volumes:
  db_data_dev:
