# PowerShell Script: start.ps1

@"
GENAI_ENGINE_OPENAI_PROVIDER=OpenAI
GENAI_ENGINE_OPENAI_GPT_NAMES_ENDPOINTS_KEYS=model_name::::my_api_key
GENAI_ENGINE_ADMIN_KEY=changeme_genai_engine_admin_key
FETCH_RAW_DATA_ENABLED=true
ARTHUR_CLIENT_ID=
ARTHUR_CLIENT_SECRET=
"@ | Set-Content -Path ".env" -Encoding UTF8

Invoke-WebRequest -Uri "https://raw.githubusercontent.com/arthur-ai/arthur-engine/refs/heads/main/deployment/docker-compose/arthur-engine/docker-compose.yml" -UseBasicParsing -OutFile "docker-compose.yml"
docker compose -f "docker-compose.yml" up --pull always
