.DS_Store

*.log
*.tgz
dist

.idea
.run
launch.json

__pycache__
.python-version
*.egg-info
build/

.html_cov*
.coverage*
coverage.xml
report.xml

*.venv*
local.env
.env.local
.env

.pre-commit-config-no-pytest-check.yaml
oasdiff*
new.openapi.json

Chart.lock
values.yaml

ml-engine/src/genai_client/*
!ml-engine/src/genai_client/README.md
