.DS_Store

*.log
*.tgz
dist

.idea
.run
launch.json

__pycache__
.python-version
*.egg-info
build/

# Node.js
node_modules/
package-lock.json

.html_cov*
.coverage*
coverage.xml
report.xml

*.venv*
local.env
.env.local
.env

.vscode/

.pre-commit-config-no-pytest-check.yaml
oasdiff*
new.openapi.json

Chart.lock
values.yaml

ml-engine/src/genai_client/**
.vagrant
