.DS_Store

*.log
*.tgz
dist

.idea
.run
launch.json

__pycache__
.python-version

.html_cov*
.coverage*
coverage.xml
report.xml

*.venv*
local.env
.env.local

.pre-commit-config-no-pytest-check.yaml
oasdiff*
new.openapi.json
