GENAI_ENGINE_API_KEY=<your-api-key>
GENAI_ENGINE_TASK_ID=<your-task-id>
# For Local GenAI Engine: http://localhost:3030/api/v1/traces
# For Hosted GenAI Engine: https://<your-engine-host>/api/v1/traces
GENAI_ENGINE_TRACE_ENDPOINT=http://localhost:3030/api/v1/traces
