###################################
## Minimum Required Configurations
###################################
# postgres database URL
postgresBYOEndpoint: ""
# GenAI Engine application ingress DNS URL (e.g. arthur-genai-engine.mydomain.com)
genaiEngineIngressURL: ""
# Provider of OpenAI LLMs (must be set to 'Azure' or 'OpenAI')
genaiEngineOpenAIProvider: "Azure"

###################################
## Additional Required Configurations For GPU Deployment
###################################
arthurGenaiEngineDeployment:
  annotations: {}
  labels: {}
  genaiEnginePodAnnotations: {}
  genaiEnginePodLabels: {}
  # Specify the node selector to "capability: gpu"
  genaiEnginePodNodeSelector: {}
  genaiEnginePodAffinity: {}
  genaiEnginePodTolerations: []

# CPU deployment - Comment out the below 4 lines
gpuEnabled: false
genaiEngineDeploymentType: "deployment"
genaiEngineWorkers: 1
genaiEngineContainerImageLocation: "arthurplatform/genai-engine-cpu"

# GPU deployment - Uncomment the below 4 lines
#gpuEnabled: true
#genaiEngineDeploymentType: "daemonset"
#genaiEngineWorkers: 5
#genaiEngineContainerImageLocation: "arthurplatform/genai-engine-gpu"

arthurGenaiEngineHPA:
  # Set it to 'false' for GPU deployment
  enabled: true
  annotations: {}
  labels: {}
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 300
      policies:
        - type: Percent
          value: 100
          periodSeconds: 15
    scaleUp:
      stabilizationWindowSeconds: 30
      policies:
        - type: Percent
          value: 100
          periodSeconds: 15
      selectPolicy: Max
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 50
  targetMemoryUtilizationPercentage: 80

###################################
## Advanced - General
###################################
# Name suffix for this Arthur stack resources (e.g. 'dev' or 'prod')
arthurResourceNameSuffix: ""
# Are credentials required to access the container repository?
containerRepositoryCredentialRequired: false

###################################
## Advanced - Database
###################################
# GenAI Engine database name
genaiEngineDBDatabaseName: "arthur_genai_engine"
# postgres database port
postgresBYOPort: 5432
# Postgres SSL certificate download URL (must be an HTTPS endpoint)
postgresSSLCertDownloadURL: "https://truststore.pki.rds.amazonaws.com/global/global-bundle.pem"
# Postgres client connection pool max overflow
postgresClientConnectionPoolMaxOverflow: 15
# Postgres client connection pool size
postgresClientConnectionPoolSize: 5

###################################
## Advanced - Kubernetes Ingress
###################################
ingress:
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
  labels: {}

###################################
## Advanced - GenAI Engine
###################################
# GenAI Engine version
genaiEngineVersion: '2.1.199'
# Max number of tokens GenAI Engine can process against LLM for hallucination data checks
genaiEngineHallucinationCheckMaxTokenLimit: 3000
# Max number of tokens GenAI Engine can process against LLM for sensitive data checks
genaiEngineSensitiveDataCheckMaxTokenLimit: 6000
# Max number of tokens an inference can have for the toxicity rule to run. This is for managing validation latency.
genaiEngineToxicityCheckMaxTokenLimit: 8000
# Enable PII model v2
genaiEngineUsePIIModelV2: "true"
# Enable task rules cache
genaiEngineCacheTaskRulesCacheEnabled: true
# Task rules cache TTL in seconds
genaiEngineCacheTaskRulesCacheTTL: 60
# Number of replicas of GenAI Engine pod running in k8s cluster (This is automatically overridden if the GenAI Engine HPA is enabled)
genaiEngineReplicaCount: 2
# CPU requests value for GenAI Engine
genaiEngineContainerCPURequests: "7"
# Memory requests value for GenAI Engine
genaiEngineContainerMemoryRequests: "16Gi"
# CPU limits value for GenAI Engine
genaiEngineContainerCPULimits: "8"
# Memory limits value for GenAI Engine
genaiEngineContainerMemoryLimits: "16Gi"
# Name of the service account used by the GenAI Engine pod (if no service account is specified, the pod will use its default behavior, which usually means that it uses the `default` k8s service account)
genaiEngineServiceAccount:
  create: false
  name: ""
# Modifiable properties of Arthur GenAI Engine service
arthurGenaiEngineService:
  annotations: {}
  labels: {}
# Allow the admin key general API access (Must be enabled for the Arthur Platform. Can be disabled for the guardrails-only standalone deployment.)
genaiEngineAllowAdminKeyGeneralAccess: "enabled"

###################################
## Advanced - Secrets name customization
###################################
# Name of the secret containing the credentials for the container repository holding the GenAI Engine image
# (expecting values for keys 'docker-server', 'docker-username', 'docker-password', 'docker-email')
imagePullSecretName: "arthur-repository-credentials"
# GenAI Engine secret Postgres name (expecting values for keys 'username' and 'password')
genaiEngineSecretPostgresName: "postgres-secret"
# GenAI Engine secret admin key name (expecting value for key 'key')
genaiEngineSecretAdminKeyName: "genai-engine-secret-admin-key"
# Name of the secret which stores the connection strings for Azure OpenAI GPT-3.5 model endpoints. Must be in form "DEPLOYMENT_NAME1::OPENAI_ENDPOINT1::SECRET_KEY1,DEPLOYMENT_NAME2::OPENAI_ENDPOINT2::SECRET_KEY2"). Many may be specified.
# (expecting value for key 'keys')
genaiEngineSecretOpenAIGPTModelNamesEndpointsKeysName: "genai-engine-secret-open-ai-gpt-model-names-endpoints-keys"
# GenAI Engine secret store key name (expecting value for key 'key' - should be a base64-encoded 32-byte Fernet key)
genaiEngineSecretStoreKeyName: "genai-engine-secret-store-key"
