# ValidationResult


## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**inference_id** | **string** |  | [optional] [default to undefined]
**rule_results** | [**Array&lt;ExternalRuleResult&gt;**](ExternalRuleResult.md) |  | [optional] [default to undefined]
**user_id** | **string** |  | [optional] [default to undefined]

## Example

```typescript
import { ValidationResult } from './api';

const instance: ValidationResult = {
    inference_id,
    rule_results,
    user_id,
};
```

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)
