name: Arthur Engine CI

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch:
    inputs:
      commit_sha:
        description: "Commit SHA for testing"
        required: false
        default: ""
        type: string

jobs:
  run-genai-engine-linter:
    if: |
      (
        github.event_name == 'pull_request' ||
        (github.event_name == 'push' && github.ref_type == 'branch')
      )
    runs-on: ubuntu-latest
    container: python:3.12.9-bullseye
    env:
      SKIP: pytest-check,changelog-check
      GIT_DEPTH: 100
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: ${{ env.GIT_DEPTH }}
      - uses: ./.github/workflows/composite-actions/setup-git
        with:
          safe-directory: ${{ runner.workspace }}
      - uses: ./.github/workflows/composite-actions/setup-poetry
        with:
          working-directory: genai-engine
          with-groups: dev
      - name: Run isort
        id: isort
        continue-on-error: true
        run: |
          poetry -C genai-engine run isort src --profile black --check
      - name: Run autoflake
        id: autoflake
        continue-on-error: true
        run: |
          poetry -C genai-engine run autoflake --remove-all-unused-imports --in-place --check --recursive --quiet src
      - name: Run black
        id: black
        continue-on-error: true
        run: |
          poetry -C genai-engine run black --check src
      # TODO: Uncomment this when mypy is fixed
      # - name: Run mypy
      #   id: mypy
      #   continue-on-error: true
      #   run: |
      #     poetry -C genai-engine run mypy src
      - name: Check linter results
        if: steps.isort.outcome == 'failure' || steps.autoflake.outcome == 'failure' || steps.black.outcome == 'failure'
        run: |
          echo "One or more linters failed"
          exit 1

  run-ml-engine-linter:
    if: |
      (
        github.event_name == 'pull_request' ||
        (github.event_name == 'push' && github.ref_type == 'branch')
      )
    runs-on: ubuntu-latest
    container: python:3.13-bullseye
    env:
      SKIP: pytest-check,changelog-check
      GIT_DEPTH: 100
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: ${{ env.GIT_DEPTH }}
      - uses: ./.github/workflows/composite-actions/setup-git
        with:
          safe-directory: ${{ runner.workspace }}
      - uses: ./.github/workflows/composite-actions/setup-poetry
        with:
          working-directory: ml-engine
          with-groups: linters
      - name: Generate GenAI Client
        run: |
          pip install openapi-generator-cli[jdk4py]
          openapi-generator-cli generate -g python \
            -i ./genai-engine/staging.openapi.json \
            -o ./ml-engine/src/genai_client \
            --skip-validate-spec --package-name genai_client
      - name: Run isort
        id: isort
        continue-on-error: true
        run: |
          poetry -C ml-engine run isort src/ml_engine --profile black --check
      - name: Run autoflake
        id: autoflake
        continue-on-error: true
        run: |
          poetry -C ml-engine run autoflake --remove-all-unused-imports --in-place --check --recursive --quiet src/ml_engine
      - name: Run black
        id: black
        continue-on-error: true
        run: |
          poetry -C ml-engine run black --check src/ml_engine
      - name: Run mypy
        id: mypy
        continue-on-error: true
        run: |
          poetry -C ml-engine run mypy src/ml_engine
      - name: Check linter results
        if: steps.isort.outcome == 'failure' || steps.autoflake.outcome == 'failure' || steps.black.outcome == 'failure' || steps.mypy.outcome == 'failure'
        run: |
          echo "One or more linters failed"
          exit 1

  run-genai-engine-changelog-cop:
    if: |
      (
        github.event_name == 'pull_request' ||
        (github.event_name == 'push' && github.ref_type == 'branch')
      )
    runs-on: ubuntu-latest
    container: python:3.12.9-bullseye
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: ${{ env.GIT_DEPTH }}
      - uses: ./.github/workflows/composite-actions/setup-git
        with:
          safe-directory: ${{ runner.workspace }}
      - uses: ./.github/workflows/composite-actions/setup-poetry
        with:
          working-directory: genai-engine
      - name: Install oasdiff
        run: |
          curl -L -o "oasdiff.deb" https://github.com/Tufin/oasdiff/releases/download/v1.11.7/oasdiff_1.11.7_linux_amd64.deb
          dpkg -i oasdiff.deb
      - name: Generate changelog
        env:
          GENAI_ENGINE_SECRET_STORE_KEY: changeme_secret_store_key
        run: |
          export PYTHONPATH=src
          poetry -C genai-engine run generate_changelog
      - name: Upload artifacts on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: changelog-artifacts
          path: |
            genai-engine/new.openapi.json
            genai-engine/staging.openapi.json
            genai-engine/src/api_changelog.md

  run-genai-engine-unit-tests:
    if: |
      (
        github.event_name == 'pull_request' ||
        (github.event_name == 'push' && github.ref_type == 'branch')
      )
    runs-on: ubuntu-latest
    container: python:3.12.9-bullseye
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/workflows/composite-actions/setup-git
        with:
          safe-directory: ${{ runner.workspace }}
      - uses: ./.github/workflows/composite-actions/setup-poetry
        with:
          working-directory: genai-engine
      - name: Run unit tests
        shell: bash
        env:
          GENAI_ENGINE_SECRET_STORE_KEY: changeme_secret_store_key
        run: |
          set -o pipefail
          poetry -C genai-engine run pytest --cov --cov=genai-engine/src \
            --cov-report term \
            --junitxml=genai-engine/report.xml \
            -m "unit_tests" | tee pytest-coverage.txt
      - name: Pytest coverage comment
        if: always()
        uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-coverage-path: pytest-coverage.txt
          junitxml-path: genai-engine/report.xml
          title: Coverage Report
      - name: Upload coverage report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: |
            genai-engine/report.xml
            pytest-coverage.txt

  run-genai-engine-alembic-migration-check:
    if: |
      (
        github.event_name == 'pull_request' ||
        (github.event_name == 'push' && github.ref_type == 'branch')
      )
    runs-on: ubuntu-latest
    container: python:3.12.9-bullseye
    services:
      postgres:
        image: postgres:15
        ports:
          - "5432:5432"
        env:
          POSTGRES_PASSWORD: changeme_pg_password
          POSTGRES_DB: arthur_genai_engine
        volumes:
          - postgres_data:/var/lib/postgresql/data
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: ${{ env.GIT_DEPTH }}
      - uses: ./.github/workflows/composite-actions/setup-git
        with:
          safe-directory: ${{ runner.workspace }}
      - uses: ./.github/workflows/composite-actions/setup-poetry
        with:
          working-directory: genai-engine
      - name: Run alembic migration check
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: changeme_pg_password
          POSTGRES_URL: postgres
          POSTGRES_PORT: 5432
          POSTGRES_DB: arthur_genai_engine
          POSTGRES_USE_SSL: false
          GENAI_ENGINE_SECRET_STORE_KEY: changeme_secret_store_key
          PYTHONPATH: "src:$PYTHONPATH"
        run: |
          cd genai-engine
          poetry run alembic upgrade head

  run-ml-engine-unit-tests:
    if: |
      (
        github.event_name == 'pull_request' ||
        (github.event_name == 'push' && github.ref_type == 'branch')
      )
    runs-on: ubuntu-latest
    container: python:3.13-bullseye
    env:
      SKIP: pytest-check,changelog-check
      GIT_DEPTH: 100
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: ${{ env.GIT_DEPTH }}
      - uses: ./.github/workflows/composite-actions/setup-git
        with:
          safe-directory: ${{ runner.workspace }}
      - uses: ./.github/workflows/composite-actions/setup-poetry
        with:
          working-directory: ml-engine
      - name: Generate GenAI Client
        run: |
          pip install openapi-generator-cli[jdk4py]
          openapi-generator-cli generate -g python \
            -i ./genai-engine/staging.openapi.json \
            -o ./ml-engine/src/genai_client \
            --skip-validate-spec --package-name genai_client
      - name: Run unit-tests
        run: |
          poetry -C ml-engine run pytest

  build-genai-engine-docker-images:
    needs:
      [
        run-genai-engine-linter,
        run-genai-engine-changelog-cop,
        run-genai-engine-unit-tests,
      ]
    environment: shared-protected-branch-secrets
    if: |
      contains(github.event.head_commit.message, 'Increment arthur-engine version to') &&
      (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/dev')
    runs-on: ubuntu-latest
    strategy:
      matrix:
        torch_device: [cpu, gpu]
    steps:
      - uses: mathio/gha-cleanup@v1
        with:
          remove-browsers: true
          verbose: true
      - uses: actions/checkout@v5
      - uses: ./.github/workflows/composite-actions/setup-git
        with:
          safe-directory: ${{ runner.workspace }}
      - uses: ./.github/workflows/composite-actions/set-version
        with:
          version-prefix: "genai-engine-"
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.11.1
      - name: Log in to Docker Hub
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Build and push docker image
        uses: docker/build-push-action@v6.18.0
        with:
          context: "{{defaultContext}}:genai-engine"
          file: dockerfile
          build-args: |
            TORCH_DEVICE=${{ matrix.torch_device }}
            ENABLE_TELEMETRY=${{ github.ref == 'refs/heads/main' && 'true' || 'false' }}
          tags: |
            arthurplatform/genai-engine-${{ matrix.torch_device }}:${{ env.VERSION }}
            ${{ github.ref == 'refs/heads/main' && format('arthurplatform/genai-engine-{0}:latest', matrix.torch_device) || '' }}
            ${{ github.ref == 'refs/heads/dev' && format('arthurplatform/genai-engine-{0}:latest-dev', matrix.torch_device) || '' }}
          push: true
          platforms: linux/amd64

  build-ml-engine-docker-images:
    needs: [run-ml-engine-linter, run-ml-engine-unit-tests]
    environment: shared-protected-branch-secrets
    if: |
      contains(github.event.head_commit.message, 'Increment arthur-engine version to') &&
      (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/dev')
    runs-on: ubuntu-latest
    steps:
      - uses: mathio/gha-cleanup@v1
        with:
          remove-browsers: true
          verbose: true
      - uses: actions/checkout@v5
      - uses: ./.github/workflows/composite-actions/setup-git
        with:
          safe-directory: ${{ runner.workspace }}
      - uses: ./.github/workflows/composite-actions/set-version
      - name: Generate GenAI Client
        run: |
          pip install 'openapi-generator-cli[jdk4py]==7.12'
          openapi-generator-cli generate -g python \
            -i ./genai-engine/staging.openapi.json \
            -o ./ml-engine/src/genai_client \
            --skip-validate-spec --package-name genai_client
          sed -i 's/license = "NoLicense"/license = "Unlicense"/g' ./ml-engine/src/genai_client/pyproject.toml
      - name: Log in to Docker Hub
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Build and push docker image (no buildx)
        run: |
          cd ml-engine
          docker build -t arthurplatform/ml-engine:${{ env.VERSION }} .
          docker push arthurplatform/ml-engine:${{ env.VERSION }}
          if [ "${{ github.ref }}" = "refs/heads/main" ]; then
            docker tag arthurplatform/ml-engine:${{ env.VERSION }} arthurplatform/ml-engine:latest
            docker push arthurplatform/ml-engine:latest
          fi
          if [ "${{ github.ref }}" = "refs/heads/dev" ]; then
            docker tag arthurplatform/ml-engine:${{ env.VERSION }} arthurplatform/ml-engine:latest-dev
            docker push arthurplatform/ml-engine:latest-dev
          fi
      - name: Login to Artifactory
        run: |
          docker logout
          echo "${{ secrets.NEXUS_REPOSITORY_PASSWORD }}" | docker login docker.arthur.ai -u "${{ secrets.NEXUS_REPOSITORY_USERNAME }}" --password-stdin
      - name: Retag and push image to Artifactory
        run: |
          docker tag arthurplatform/ml-engine:${{ env.VERSION }} docker.arthur.ai/arthur/scope/ml-engine:${{ env.VERSION }}
          docker push docker.arthur.ai/arthur/scope/ml-engine:${{ env.VERSION }}
          if [ "${{ github.ref }}" = "refs/heads/main" ]; then
            docker tag arthurplatform/ml-engine:${{ env.VERSION }} docker.arthur.ai/arthur/scope/ml-engine:latest
            docker push docker.arthur.ai/arthur/scope/ml-engine:latest
          fi
          if [ "${{ github.ref }}" = "refs/heads/dev" ]; then
            docker tag arthurplatform/ml-engine:${{ env.VERSION }} docker.arthur.ai/arthur/scope/ml-engine:latest-dev
            docker push docker.arthur.ai/arthur/scope/ml-engine:latest-dev
          fi

  push-all-cfts:
    needs: [build-genai-engine-docker-images, build-ml-engine-docker-images]
    environment: shared-protected-branch-secrets
    if: |
      contains(github.event.head_commit.message, 'Increment arthur-engine version to') &&
      (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/dev')
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    env:
      AWS_REGION: us-east-2
      BUCKET_NAME: arthur-cft
      TEMPLATES_DIRECTORY: arthur-engine
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/workflows/composite-actions/setup-git
      - uses: ./.github/workflows/composite-actions/set-version
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@5ebd15afc69e5abcd499614d3ced5d65dc34087f
        with:
          role-to-assume: ${{ secrets.AWS_S3_ROLE_ARN }}
          role-session-name: ${{ secrets.AWS_S3_ROLE_SESSION_NAME }}
          aws-region: ${{ env.AWS_REGION }}
      - name: push cf template
        run: |
          echo "Pushing Cloudformation template for ${{ env.VERSION }}"
          sed -i "s/REPLACE_ME_GENAI_ENGINE_VERSION/${{ env.VERSION }}/g" deployment/cloudformation/root-arthur-engine-cpu.yml
          sed -i "s/REPLACE_ME_GENAI_ENGINE_VERSION/${{ env.VERSION }}/g" deployment/cloudformation/root-arthur-engine-gpu.yml
          sed -i "s/REPLACE_ME_GENAI_ENGINE_VERSION/${{ env.VERSION }}/g" deployment/cloudformation/root-arthur-genai-engine-cpu.yml
          sed -i "s/REPLACE_ME_GENAI_ENGINE_VERSION/${{ env.VERSION }}/g" deployment/cloudformation/root-arthur-genai-engine-gpu.yml
          aws s3 sync ./deployment/cloudformation/ s3://${{ env.BUCKET_NAME }}/${{ env.TEMPLATES_DIRECTORY }}/templates/${{ env.VERSION }} --acl public-read
          aws s3 sync ./deployment/cloudformation/ s3://${{ env.BUCKET_NAME }}/${{ env.TEMPLATES_DIRECTORY }}/templates/latest --acl public-read

  push-all-helm-charts-to-github:
    needs: [build-genai-engine-docker-images, build-ml-engine-docker-images]
    environment: shared-protected-branch-secrets
    if: |
      contains(github.event.head_commit.message, 'Increment arthur-engine version to') &&
      (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/dev')
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/workflows/composite-actions/setup-helm
      - uses: ./.github/workflows/composite-actions/set-version
        with:
          version-prefix: "genai-engine-"
      - name: Login to GHCR
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | helm registry login ghcr.io -u ${{ github.actor }} --password-stdin
      - name: Package and Push Helm chart
        env:
          CHART_PATH_GENAI_ENGINE: "deployment/helm/genai-engine"
          CHART_PATH_ML_ENGINE: "deployment/helm/ml-engine"
          CHART_NAMESPACE: ${{ github.ref == 'refs/heads/main' && 'charts' || 'charts-dev' }}
        run: |
          helm package ${CHART_PATH_GENAI_ENGINE} --version ${{ env.VERSION }} --app-version ${{ env.VERSION }}
          helm push arthur-genai-engine-${{ env.VERSION }}.tgz oci://ghcr.io/${{ github.repository }}/${{ env.CHART_NAMESPACE }}
          helm package ${CHART_PATH_ML_ENGINE} --version ${{ env.VERSION }} --app-version ${{ env.VERSION }}
          helm push arthur-ml-engine-${{ env.VERSION }}.tgz oci://ghcr.io/${{ github.repository }}/${{ env.CHART_NAMESPACE }}

  push-tag:
    needs: [push-all-cfts, push-all-helm-charts-to-github]
    if: |
      contains(github.event.head_commit.message, 'Increment arthur-engine version to') &&
      (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/dev')
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/workflows/composite-actions/setup-git
        with:
          safe-directory: ${{ runner.workspace }}
      - uses: ./.github/workflows/composite-actions/set-version
      - name: Push tag
        run: |
          git tag -a "${{ env.VERSION }}" -m "Create tag for Arthur Engine ${{ env.VERSION }}"
          git push origin "${{ env.VERSION }}"

  deploy-genai-engine-cloudformation:
    needs: [push-tag]
    if: |
      contains(github.event.head_commit.message, 'Increment arthur-engine version to') &&
      (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/dev')
    runs-on: ubuntu-latest
    container: node:20-alpine
    environment: shared-protected-branch-secrets
    steps:
      - name: Trigger GitLab Pipeline
        uses: fjogeleit/http-request-action@v1.16.5
        with:
          url: "https://gitlab.com/api/v4/projects/${{ secrets.GITLAB_PROJECT_ID }}/trigger/pipeline"
          method: POST
          contentType: application/x-www-form-urlencoded
          data: "token=${{ secrets.DEPLOY_TRIGGER_TOKEN }}&ref=main&variables[TRIGGER_JOB]=deploy_arthur_engine&variables[ARTHUR_ENGINE_COMMIT_SHA]=${{ inputs.commit_sha || github.sha }}"
